/* MINIMOS COLOR CLASSES */

	/* web colors - color, bgd, border */
	
		.color-red 		{ color : red; }
		.color-maroon 	{ color : maroon; }
		.color-yellow 	{ color : yellow; }
		.color-olive 	{ color : olive; }
		.color-lime 	{ color : lime; }
		.color-green 	{ color : green; }
		.color-aqua 	{ color : aqua; }
		.color-teal 	{ color : teal; }
		.color-blue 	{ color : blue; }
		.color-navy 	{ color : navy; }
		.color-fuchsia 	{ color : fuchsia; }
		.color-purple 	{ color : purple; }
		
		.bgd-red 		{ background-color : red; }
		.bgd-maroon 	{ background-color : maroon; }
		.bgd-yellow 	{ background-color : yellow; }
		.bgd-olive 		{ background-color : olive; }
		.bgd-lime 		{ background-color : lime; }
		.bgd-green 		{ background-color : green; }
		.bgd-aqua 		{ background-color : aqua; }
		.bgd-teal 		{ background-color : teal; }
		.bgd-blue 		{ background-color : blue; }
		.bgd-navy 		{ background-color : navy; }
		.bgd-fuchsia 	{ background-color : fuchsia; }
		.bgd-purple 	{ background-color : purple; }
		
		.border-red 	{ border-color : red; }
		.border-maroon 	{ border-color : maroon; }
		.border-yellow 	{ border-color : yellow; }
		.border-olive 	{ border-color : olive; }
		.border-lime 	{ border-color : lime; }
		.border-green 	{ border-color : green; }
		.border-aqua 	{ border-color : aqua; }
		.border-teal 	{ border-color : teal; }
		.border-blue 	{ border-color : blue; }
		.border-navy 	{ border-color : navy; }
		.border-fuchsia { border-color : fuchsia; }
		.border-purple 	{ border-color : purple; }
	
	/* grays - color, bgd, border */
	
		.color-000 		{ color : #000; }
		.color-111 		{ color : #111; }
		.color-222 		{ color : #222; }
		.color-333 		{ color : #333; }
		.color-444 		{ color : #444; }
		.color-555 		{ color : #555; }
		.color-666 		{ color : #666; }
		.color-777 		{ color : #777; }
		.color-888 		{ color : #888; }
		.color-999 		{ color : #999; }
		.color-aaa 		{ color : #aaa; }
		.color-bbb 		{ color : #bbb; }
		.color-ccc 		{ color : #ccc; }
		.color-ddd 		{ color : #ddd; }
		.color-eee 		{ color : #eee; }
		.color-fff 		{ color : #fff; }
		
		.bgd-000 		{ background-color : #000; }
		.bgd-111 		{ background-color : #111; }
		.bgd-222 		{ background-color : #222; }
		.bgd-333 		{ background-color : #333; }
		.bgd-444 		{ background-color : #444; }
		.bgd-555 		{ background-color : #555; }
		.bgd-666		{ background-color : #666; }
		.bgd-777		{ background-color : #777; }
		.bgd-888 		{ background-color : #888; }
		.bgd-999 		{ background-color : #999; }
		.bgd-aaa 		{ background-color : #aaa; }
		.bgd-bbb 		{ background-color : #bbb; }
		.bgd-ccc 		{ background-color : #ccc; }
		.bgd-ddd 		{ background-color : #ddd; }
		.bgd-eee 		{ background-color : #eee; }
		.bgd-fff 		{ background-color : #fff; }	
		
		.border-000 	{ border-color : #000; }
		.border-111 	{ border-color : #111; }
		.border-222 	{ border-color : #222; }
		.border-333 	{ border-color : #333; }
		.border-444 	{ border-color : #444; }
		.border-555 	{ border-color : #555; }
		.border-666 	{ border-color : #666; }
		.border-777 	{ border-color : #777; }
		.border-888 	{ border-color : #888; }
		.border-999 	{ border-color : #999; }
		.border-aaa 	{ border-color : #aaa; }
		.border-bbb 	{ border-color : #bbb; }
		.border-ccc 	{ border-color : #ccc; }
		.border-ddd 	{ border-color : #ddd; }
		.border-eee 	{ border-color : #eee; }
		.border-fff 	{ border-color : #fff; }
				
	/* x11 colors - color, bgd, border */
	
		.color-orange			{ color : orange; }
		.color-orange-red		{ color : orange-red; }
		.color-dark-orange		{ color : dark-orange; }
		.color-brown 			{ color : brown; }
		.color-cyan 			{ color : cyan; }		
		.color-cornflower 		{ color : cornflower; }		
		.color-midnight-blue 	{ color : cyan; }		
		.color-slate-gray 		{ color : slate-gray; }		
		.color-white-smoke 		{ color : white-smoke; }		
		.color-tomato 			{ color : tomato; }		
		.color-gold 			{ color : gold; }		
		.color-goldenrod 		{ color : goldenrod; }		
		.color-sienna 			{ color : sienna; }		
		.color-peru 			{ color : peru; }		
		.color-tan 				{ color : tan; }		
		
		.bgd-orange 			{ background-color : orange; }
		.bgd-orange-red 		{ background-color : orange-red; }
		.bgd-dark-orange 		{ background-color : dark-orange; }
		.bgd-brown 				{ background-color : brown; }
		.bgd-cyan 				{ background-color : cyan; }
		.bgd-cornflower 		{ background-color : cornflower; }
		.bgd-midnight-blue 		{ background-color : midnight-blue; }
		.bgd-slate-gray 		{ background-color : slate-gray; }
		.bgd-white-smoke 		{ background-color : white-smoke; }
		.bgd-tomato 			{ background-color : tomato; }
		.bgd-gold 				{ background-color : gold; }
		.bgd-goldenrod 			{ background-color : goldenrod; }
		.bgd-sienna 			{ background-color : sienna; }
		.bgd-peru 				{ background-color : peru; }
		.bgd-tan 				{ background-color : tan; }

		.border-orange 			{ border-color : orange; }
		.border-orange-red 		{ border-color : orange-red; }
		.border-dark-orange 	{ border-color : dark-orange; }
		.border-brown 			{ border-color : brown; }
		.border-cyan 			{ border-color : cyan; }
		.border-cornflower 		{ border-color : cornflower; }
		.border-midnight-blue 	{ border-color : midnight-blue; }
		.border-slate-gray 		{ border-color : slate-gray; }
		.border-white-smoke 	{ border-color : white-smoke; }
		.border-tomato 			{ border-color : tomato; }
		.border-gold 			{ border-color : gold; }
		.border-goldenrod 		{ border-color : goldenrod; }
		.border-sienna 			{ border-color : sienna; }
		.border-peru 			{ border-color : peru; }
		.border-tan 			{ border-color : tan; }		