/* MINIMOS COLOR CLASSES */
	
.red			{ color : red !important; }
.orange			{ color : orange !important; }
.green			{ color : green !important; }
.blue			{ color : blue !important; }
.purple			{ color : purple !important; }
.gray			{ color : gray !important; }
.black			{ color : black !important; }