/* MINIMOS CORE CSS */

/* base styles */	

	body {
		background : #fff;	
		font-family : Georgia, "Times New Roman", serif;
		font-size : 20px;
		color : #111;
		line-height : 1.6;
	}
	
	a:link,
	a:visited 	{ color : blue; font-weight : normal; text-decoration : underline; }
	
	a:hover,
	a:active 	{ color : red; font-weight : normal; text-decoration : underline; }
					
/* layout helpers */		
		
	.row {
		width : 100%;
		clear : both;
		padding : 0;		
	}
	
	.row:after {
		content: "";
		display: table;
		clear: both;
	}	
		
	.container {
		max-width : 960px;
		margin: 0 auto;
		padding : 0 1em 0 1em;
	}		
	
/* default content */	
	
	/* headers */

		h1,
		h2,
		h3,
		h4,
		h5, 
		h6 {
			color : #999;
			font-weight : normal;
			letter-spacing : 0;
			line-height : 1.5;
			margin : 0 0 20px 0;
		}
		
		h1 		{ font-size : 40px; color : #000; }
		h2		{ font-size : 30px; color : #000; }
		h3		{ font-size : 25px; }
		h4		{ font-size : 20px; }
		h5 		{ font-size : 15px; }
		h6 		{ font-size : 10px; }
		
		h1 a:link, 
		h1 a:visited 	{ color : #ccc; }
		h1 a:hover,
		h1 a:active 	{ color : #999; }
	
	/* content */
	
		p {
			margin : 0 0 25px 0;
		}
		
		ul {
			list-style-type : square;
			margin : 0 0 30px 40px;
			padding : 0;
		}
		
		ol {
			margin : 0 0 20px 20px;
			padding : 0;	
		}
		
		li {
			margin : 0 0 4px 0;
		}
		
		small {
			font-size : 10px;
		}
		
		blockquote {
			border-top : 1px solid #e8e8e8;
			border-bottom : 1px solid #e8e8e8;
			text-align : center;
			margin : 40px 0 35px 0;
			padding : 25px 6% 1px 6%;
			color : #999;
		}
		
		hr {
			color : #000;
		}
		
	/* form fields */

		label {
		
		}
	
		input[type=text],
		input[type=email],
		textarea {
		
		}
	
	/* buttons */
	
		input[type=submit],
		button,
		.button {
			background : blue;
			color : #fff;
			padding : 10px;
			display : inline-block;
		}
		
		.button:link 		{ color : #fff; }
		.button:visited 	{ color : #fff; }
		
		input[type=submit]:hover,
		button:hover,
		.button:hover 		{ color : #fff; background-color : red; }
		
		input[type=submit]:active,
		button:active,
		.button:active		{ color : #fff; background-color : red; }	
		
/* site header */

/* site footer */
	
/* essential components */

	/* posts */
	
		.post {
			margin-bottom : 60px;
		}	
		
	/* wp images */
				
		.wp-image,
		.img-thumbnail {
			display: inline-block;
			padding: 4px;
			background-color: #fff;
			border: 1px solid #ddd;
		}	
	
		.alignleft {
			float: left;
			padding-top : 6px;
			margin: 0 20px 10px 0;
		}	
	
		.alignright {
			float: right;
			padding-top : 6px;
			margin: 0 0 10px 12px;
		}
		
		.aligncenter {
			display : block;
			margin : 0 auto 15px auto;
		}
		
		.alignnone {
			display : block;
			margin : 0 0 15px 0;
		}			
				
	/* wp captions */
		
		.wp-caption p {
			padding : 0 15px 0 15px;
		}

		.wp-caption.aligncenter p {
			padding : 0 30px 0 30px;
		}
			
	/* inline forms */
	
		.inline label,	
		.inline input,
		.inline button {
			display : inline; 
		}		
		
	/* custom utilities */
		
		.margin-top			{ margin : 20px !important; }
		.margin-bottom		{ margin : 20px !important; }
		.margin-v			{ margin-top : 20px !important; margin-bottom : 20px !important; }
	
		.row.pad			{ padding : 30px 0 30px 0 !important; }
	
		.pad				{ padding : 20px !important; }
		.pad-bottom			{ padding-top : 20px !important; }
		.pad-bottom			{ padding-bottom : 20px !important; }
		
		.border				{ border : 1px solid #e8e8e8; }	
		.border-top			{ border-top : 1px solid #e8e8e8; }
		.border-right		{ border-right : 1px solid #e8e8e8; }
		.border-bottom		{ border-bottom : 1px solid #e8e8e8; }
		.border-left		{ border-left : 1px solid #e8e8e8; }
		
		.rounded 			{ border-radius : 10px; }
		.indent 			{ margin-left : 30px !important; }
		
		.short				{ width : 70px; }
		.medium				{ width : 150px; }
		.long				{ width : 220px; }
		
	/* custom colors */
	
		.color-lite		{ color : #ccc; }	
		
		.color-lite a:link,
		.color-lite a:visited 	{ color : #ccc; text-decoration : none; }
		
		.color-lite a:hover,
		.color-lite a:active 	{ color : red; text-decoration : underline; }