/* MINIMOS CORE CSS */

/* global */

	html { font-size : 100%; }

	body {
		background : #fff;	
		font-family : Georgia, "Times New Roman", serif;
		color : #111;
		line-height : 1.5;
		font-size : 1rem;
	}
	
	a:link,
	a:visited 	{ color : blue; font-weight : normal; text-decoration : underline; }
	
	a:hover,
	a:active 	{ color : red; font-weight : normal; text-decoration : underline; }
	
/* layout helpers */	
	
	.row {
		width : 100%;
		clear : both;
		padding : 0;		
	}
	
	.row.pad { padding : 2.5rem 0 1.5rem 0; }
	
	.row:after {
		content: "";
		display: table;
		clear: both;
	}	
		
	.container {
		max-width : 960px;
		margin: 0 auto;
		padding : 0 1rem 0 1rem;
	}	
	
/* default elements */	
	
	/* headers */

		h1,
		h2,
		h3,
		h4,
		h5, 
		h6 {
			color : #999;
			font-weight : normal;
			letter-spacing : 0;
			margin : 0 0 20px 0;
		}
		
		h1, .h1 		{ font-size : 2.0em; color : #000; }
		h2, .h2			{ font-size : 2.0em; color : #000; }
		h3, .h3			{ font-size : 1.7em; }
		h4, .h4			{ font-size : 1.4em; }
		h5, .h5			{ font-size : 1.0em; font-weight : bold; }
		h6, .h6 		{ font-size : 1.0em; font-weight : normal; }
		
		h1 a:link, 
		h1 a:visited 	{ color : #ccc; text-decoration : none; }
		h1 a:hover,
		h1 a:active 	{ color : #000; text-decoration : underline; }
	
	/* content */
	
		p, .p {
			margin : 0 0 1.25rem 0;
		}
		
		ul {
			list-style-type : square;
			margin : 0 0 1.5rem 2rem;
			padding : 0;
		}
		
		ol {
			margin : 0 0 1rem 2rem;
			padding : 0;	
		}
		
		li {
			margin : 0 0 4px 0;
		}
		
		small, .small {
			font-size : 0.75em;
		}
		
		blockquote, .blockquote {
			border-top : 1px solid #e8e8e8;
			border-bottom : 1px solid #e8e8e8;
			text-align : center;
			margin : 2rem 0 1.75rem 0;
			padding : 1.25rem 6% 1px 6%;
			color : #999;
		}
		
		img {
			vertical-align : bottom;
			max-width : 100%;
		}		
		
		hr {
			color : #000;
		}
		
	/* forms */
	
		fieldset, .fieldset {
			border : none;
			padding : 0;
		}

		label, .label {
			font-weight : bold;
			display : block;
			margin-bottom : .25rem;
		}	
	
		input[type=text],
		input[type=email],
		input[type=password],
		input[type=tel],
		input[type=num],				
		textarea,
		.input {
			padding : .25rem;
			border : 1px solid #ccc;
			margin-bottom : .25rem;
			display : inline-block;
			color : #333;
			max-width : 100%;
		}
		
		.placeholder,
		::-webkit-input-placeholder { color : #a9a9a9; }
		:-moz-input-placeholder 	{ color : #a9a9a9; }
				
		.input-tiny 	{ width : 2rem; }
		.input-small	{ width : 6rem; }

		/* large inputs (large tablets and up ) */		
		@media only screen and (min-width: 769px) {	
		
			.input-medium	{ width : 12rem; }
			.input-large	{ width : 20.5rem; }
			
		}
			
	/* buttons */
	
		button,
		.button {
			background-color : #555;
			color : #fff;
			padding : .75rem 1.5rem .75rem 1.5rem;
			border : none;
			margin : 0 1px .5rem 1px;
			display : block;		
			line-height : 1.0;
			vertical-align : bottom;
			outline : none;
			font-family : Helvetica, Arial, sans-serif;
			text-align : center;		
		}
		
		.button:link,
		.button:visited 	{ color : #fff; text-decoration : none; }
		
		input[type=submit]:hover,
		button:hover,
		.button:hover,		
		input[type=submit]:active,
		button:active,
		.button:active		{ color : #fff; text-decoration : underline; }
		
		
		/* small buttons (large tablets and up) */
		@media only screen and (min-width: 769px) {
			
			button, .button { display : inline-block; }
			
		}

/* page template */
		
	/* header */
		
		.header .menu {
			list-style-type : none;
			margin-bottom : 0;
		}
		
		/* menu positioning (large tablets and up) */
		@media only screen and (min-width: 769px) {
			
			.home .header .menu {
				float : right;
				margin-top : 1.75rem;
			}
							
			.header li {
				display : inline-block;
				margin-left : 1.25rem;	
			}			
			
		}
		
		.header li.current { text-decoration : underline; }
		
	/* content */
	
	/* footer */
	
		.footer {
		
		}
	
/* essential components */

	/* content helpers */
	
		.display {
			font-family : Helvetica, Arial, sans-serif;
			font-weight : bold;
		}
		
		.lead { font-size : 1.25em; }
		
		.mark { background-color : #eee; border-radius : 2px; }
		
		.section { margin-bottom : 2.5rem; }		

	/* posts */
	
		.post {
				
		}
		
		.post-header {
			margin-bottom : 2rem;
		}
		
	/* images */
				
		.wp-image,
		.img-thumbnail {
			display: inline-block;
			padding: .25rem;
			background-color: #fff;
			border: 1px solid #ddd;
		}	
		
		.alignleft,
		.alignright,
		.alignnone,
		.aligncenter {
			display : block;
			margin : 0 auto 1rem auto;
		}		
		
		/* image alignment (large tablets and up ) */
		@media only screen and (min-width: 769px) {			
	
			.alignleft {
				float: left;
				padding-top : .25rem;
				margin: 0 1rem .25rem 0;
			}	
		
			.alignright {
				float: right;
				padding-top : 6px;
				margin: 0 0 .25rem .75rem;
			}
			
			.alignnone {
				display : block;
				margin : 0 0 .75rem 0;
			}
		
		}		
				
	/* wp captions */
		
		.wp-caption p {
			padding : 0 .75rem 0 .75rem;
		}

		.wp-caption.aligncenter p {
			padding : 0 1.5rem 0 1.5rem;
		}
		
		
	/* tables */
	
		.table {
			border-collapse : collapse;
			border : 1px solid #555;
			margin : 0 0 1rem 0;
		}

		.table th,
		.table td {
			padding : .5rem;
			border : 1px solid #555;
			display : table-cell;	
		}		

		.table th {
			font-weight : bold;
			background-color : #e8e8e8;
		}	
		
		.table td { }	
		
	/* panel */
	
		.panel {
			background-color : #eee;
			border-radius : .5rem;
			padding : 0 2rem 0 2rem;
		}				
		
	/* cards */
	
		.card {
			padding : .5rem;
			float : left;
			margin : 0 .75rem .75rem 0;
		}			
		
	/* inline lists */
	
		ul.inline {
			margin : 0;
			padding : 0;
			list-style-type : none;
		}
		
		ul.inline li { 
			display : inline-block;
		}
			
	/* inline form rows */
	
		.inline label,	
		.inline input,
		.inline button {
			display : inline-block;
			vertical-align : middle; 
		}		
		
		.inline input { margin-right : .25rem; }
		.inline label { margin-right : 1rem; }
		
	/* opacity helper */
	
		.opacity {
			opacity : 1.0;
			transition : opacity 0.3s;
		}
		
		.opacity:hover,
		.opacity:active,
		.opacity:hover,
		.opacity:active {
			opacity : 0.7 !important;
			text-decoration : none !important;
		}		

/* custom utilities */
		
	/* margins, padding and borders */
	
		.margin-top				{ margin : 1rem; }
		.margin-bottom			{ margin : 1rem; }
		.margin-v				{ margin-top : 1rem; margin-bottom : 1rem; }
	
		.pad					{ padding : 1rem; }
		.pad-top				{ padding-top : 1rem; }
		.pad-bottom				{ padding-bottom : 1rem; }
	
		.border					{ border : 1px solid #e8e8e8; }	
		.border-top				{ border-top : 1px solid #e8e8e8; }
		.border-right			{ border-right : 1px solid #e8e8e8; }
		.border-bottom			{ border-bottom : 1px solid #e8e8e8; }
		.border-left			{ border-left : 1px solid #e8e8e8; }
		.rounded 				{ border-radius : .5rem; }
	
	/* other helpers */
		
		.indent 				{ margin-left : 1.5rem !important; }
		
		.short					{ width : 4rem; }
		.medium					{ width : 8rem; }
		.long					{ width : 16rem; }
		
	/* custom colors */
	
		.color-lite				{ color : #999; }	
		
		.color-lite a:link,
		.color-lite a:visited 	{ color : #999; text-decoration : none; }
		
		.color-lite a:hover,
		.color-lite a:active 	{ color : red; text-decoration : underline; }
		
		.color-minimos-black	{ color : #111; }
		.bgd-minimos-black		{ color : #111; }
		.border-minimos-black	{ color : #111; }

		.color-minimos-gray		{ color : #e8e8e8; }
		.bgd-minimos-gray		{ color : #e8e8e8; }
		.border-minimos-gray	{ color : #e8e8e8; }
	
	/* custom fonts */	
		
		.font-custom			{ font-family : "Open Sans", Helvetica, Arial, sans-serif !important; }	
		
/* device styles */

	/* small phones only */
	@media only screen and (max-width: 480px) {
		
	}		
	
	/* large phones and up */
	@media only screen and (min-width: 481px) {
		html { font-size : 105%; }
	}			
		
	/* large tablets and up */
	@media only screen and (min-width: 769px) {
		html { font-size : 115%; }	
	}

	/* desktop and up */
	@media only screen and (min-width: 980px) {
		html { font-size : 125%; }	
	}
			
	/* wide screens */
	@media only screen and (min-width: 1160px) {
		html { font-size : 135%; }	
	}
	
