/* MINIMOS UTILITY CLASSES */				

/* typography */
	
	.uppercase 			{ text-transform : uppercase; }	
	.lowercase 			{ text-transform : lowercase; }	
	.underline 			{ text-decoration : underline; }
	.strike 			{ text-decoration : line-through; }	
	.bold, .strong		{ font-weight : bold; }
	.normal				{ font-weight : normal; }
	.italics, .em		{ font-style : italics; }
	.default			{ font-style : default; }
	
	.text-left 			{ text-align : left; }
	.text-center 		{ text-align : center; }
	.text-right 		{ text-align : right; }
		
	.font-sans		{ font-family : Helvetica, Arial, sans-serif; }
	.font-lucida	{ font-family : "Lucida Grande", Helvetica, Arial, sans-serif; }

	.font-serif		{ font-family : Georgia, "Times New Roman", serif; }
	.font-courier	{ font-family : "Courier New", Georgia, "Times New Roman", serif; }
	.font-mono		{ font-family : monospace; }
	
/* font size */	
	
	.em-5		{ font-size : .5em; }
	.em-6		{ font-size : .6em; }	
	.em-7		{ font-size : .7em; }
	.em-8		{ font-size : .8em; }
	.em-9		{ font-size : .9em; }
	.em-10		{ font-size : 1.0em; }
	.em-11		{ font-size : 1.1em; }
	.em-12		{ font-size : 1.2em; }
	.em-13		{ font-size : 1.3em; }
	.em-14		{ font-size : 1.4em; }
	.em-15		{ font-size : 1.5em; }
	.em-16		{ font-size : 1.6em; }
	.em-17		{ font-size : 1.7em; }
	.em-18		{ font-size : 1.8em; }
	.em-19		{ font-size : 1.9em; }
	.em-20		{ font-size : 2.0em; }
	.em-25		{ font-size : 2.5em; }
	.em-30		{ font-size : 3.0em; }
	.em-35		{ font-size : 3.5em; }
	.em-40		{ font-size : 4.0em; }
	.em-45		{ font-size : 4.5em; }
	.em-50		{ font-size : 5.0em; }

/* display and positioning */
	
	.hidden 			{ position : absolute; left : -9999px; }
	
	.block 				{ display : block; }	
	.inline-block 		{ display : inline-block; }		
	.inline 			{ display : inline; }
	.display-none		{ display : none; }
	
	.absolute 			{ position : absolute; }
	.relative			{ position : relative; }	
	.static				{ position : static; }
	
/* width and height */

	.height-100 		{ height : 100%; }
	.max-width-100		{ max-width : 100%; }

	
/* alignment */	
	
	.float-left			{ float : left; }	
	.float-right		{ float : right; }
	.float-none 		{ float : none; }
	
	.clear 				{ clear : both; }
	.clear-left 		{ clear : left; }
	.clear-right 		{ clear : right; }

	.centered 			{ float : none; margin-left : auto; margin-right : auto; }
	
	.valign-top			{ vertical-align : top; }	
	.valign-bottom		{ vertical-align : bottom; }	
	.valign-baseline	{ vertical-align : baseline; }	

/* margin */

	.margin-0			{ margin : 0; }	
	.margin-auto		{ margin : auto; }	
	.margin-h-auto		{ margin-left : auto; margin-right : auto; }	
	
	.margin-top-0		{ margin-top : 0; }	
	.margin-top-5		{ margin-top : .25rem; }
	.margin-top-10		{ margin-top : .5rem; }
	.margin-top-15		{ margin-top : .75rem; }
	.margin-top-20		{ margin-top : 1rem; }
	.margin-top-25		{ margin-top : 1.25rem; }
	.margin-top-30		{ margin-top : 1.5rem; }
	.margin-top-40		{ margin-top : 2rem; }
	.margin-top-50		{ margin-top : 2.5rem; }
	.margin-top-60		{ margin-top : 60; }
	.margin-top-70		{ margin-top : 3.5; }
	.margin-top-80		{ margin-top : 4rem; }
	.margin-top-90		{ margin-top : 4.5rem; }
	.margin-top-100		{ margin-top : 5rem; }
	
	.margin-bottom-0	{ margin-bottom : 0; }
	.margin-bottom-5	{ margin-bottom : .25rem; }
	.margin-bottom-10	{ margin-bottom : .5rem; }
	.margin-bottom-15	{ margin-bottom : .75rem; }
	.margin-bottom-20	{ margin-bottom : 1rem; }
	.margin-bottom-25	{ margin-bottom : 1.25rem; }
	.margin-bottom-30	{ margin-bottom : 1.5rem; }
	.margin-bottom-40	{ margin-bottom : 2rem; }
	.margin-bottom-50	{ margin-bottom : 2.5rem; }
	.margin-bottom-60	{ margin-bottom : 60; }
	.margin-bottom-70	{ margin-bottom : 3.5; }
	.margin-bottom-80	{ margin-bottom : 4rem; }
	.margin-bottom-90	{ margin-bottom : 4.5rem; }
	.margin-bottom-100	{ margin-bottom : 5rem; }
	
	.margin-left-0		{ margin-left : 0; }	
	.margin-left-5		{ margin-left : .25rem; }
	.margin-left-10		{ margin-left : .5rem; }
	.margin-left-15		{ margin-left : .75rem; }
	.margin-left-20		{ margin-left : 1rem; }
	.margin-left-25		{ margin-left : 1.25rem; }
	.margin-left-30		{ margin-left : 1.5rem; }
	.margin-left-40		{ margin-left : 2rem; }
	.margin-left-50		{ margin-left : 2.5rem; }
	.margin-left-60		{ margin-left : 60; }
	.margin-left-70		{ margin-left : 3.5; }
	.margin-left-80		{ margin-left : 4rem; }
	.margin-left-90		{ margin-left : 4.5rem; }
	.margin-left-100	{ margin-left : 5rem; }
	
	.margin-right-0		{ margin-right : 0; }
	.margin-right-5		{ margin-right : .25rem; }
	.margin-right-15	{ margin-right : .5rem; }
	.margin-right-20	{ margin-right : .75rem; }
	.margin-right-25	{ margin-right : 1rem; }
	.margin-right-20	{ margin-right : 1.25rem; }
	.margin-right-30	{ margin-right : 1.5rem; }
	.margin-right-40	{ margin-right : 2rem; }
	.margin-right-50	{ margin-right : 2.5rem; }
	.margin-right-60	{ margin-right : 60; }
	.margin-right-70	{ margin-right : 3.5; }
	.margin-right-80	{ margin-right : 4rem; }
	.margin-right-90	{ margin-right : 4.5rem; }
	.margin-right-100	{ margin-right : 5rem; }	

	.margin-v-0			{ margin-top : 0; margin-bottom : 0; }
	.margin-v-5			{ margin-top : .25rem; margin-bottom : .25rem; }
	.margin-v-10		{ margin-top : .5rem; margin-bottom : .5rem; }
	.margin-v-15		{ margin-top : .75rem; margin-bottom : .75rem; }
	.margin-v-20		{ margin-top : 1rem; margin-bottom : 1rem; }
	.margin-v-25		{ margin-top : 1.25rem; margin-bottom : 1.25rem; }
	.margin-v-30		{ margin-top : 1.5rem; margin-bottom : 1.5rem; }
	.margin-v-40		{ margin-top : 2rem; margin-bottom : 2rem; }
	.margin-v-50		{ margin-top : 2.5rem; margin-bottom : 2.5rem; }	
	.margin-top--5		{ margin-top : -.25rem; }	
	.margin-top--10		{ margin-top : -.5rem; }	
	.margin-top--15		{ margin-top : -1.25rem; }	
	.margin-top--20		{ margin-top : -1rem; }	
	.margin-top--25		{ margin-top : -2.25rem; }	
	.margin-top--30		{ margin-top : -1.5rem; }

	.margin-h-0			{ margin-left : 0; margin-right : 0; }
	.margin-h-5			{ margin-left : .25rem; margin-right : .25rem; }
	.margin-h-10		{ margin-left : .5rem; margin-right : .5rem; }
	.margin-h-15		{ margin-left : .75rem; margin-right : .75rem; }
	.margin-h-20		{ margin-left : 1rem; margin-right : 1rem; }
	.margin-h-25		{ margin-left : 1.25rem; margin-right : 1.25rem; }
	.margin-h-30		{ margin-left : 1.5rem; margin-right : 1.5rem; }
	.margin-h-40		{ margin-left : 2rem; margin-right : 2rem; }
	.margin-h-50		{ margin-left : 2.5rem; margin-right : 2.5rem; }	

/* padding */
	
	.pad-0				{ padding : 0; }
	.pad-5				{ padding : .25rem; }
	.pad-10				{ padding : .5rem; }
	.pad-15				{ padding : 1.25rem; }
	.pad-20				{ padding : 1rem; }
	.pad-25				{ padding : 2.25rem; }
	.pad-30				{ padding : 1.5rem; }
	.pad-40				{ padding : 2rem; }
	.pad-50				{ padding : 2.5rem; }
	
	.pad-top-0			{ padding-top : 0px; }
	.pad-top-5			{ padding-top : .25rem; }
	.pad-top-10			{ padding-top : .5rem; }
	.pad-top-15			{ padding-top : .75rem; }
	.pad-top-20			{ padding-top : 1rem; }
	.pad-top-25			{ padding-top : 1.25rem; }
	.pad-top-30			{ padding-top : 1.5rem; }
	.pad-top-40			{ padding-top : 2rem; }
	.pad-top-50			{ padding-top : 2.5rem; }
	.pad-top-60			{ padding-top : 3rem; }
	.pad-top-70			{ padding-top : 3.5rem; }
	.pad-top-80			{ padding-top : 4.5rem; }
	.pad-top-90			{ padding-top : 4.5rem; }
	.pad-top-100		{ padding-top : 5rem; }
	
	.pad-bottom-0		{ padding-bottom : 0px; }
	.pad-bottom-5		{ padding-bottom : .25rem; }
	.pad-bottom-10		{ padding-bottom : .5rem; }
	.pad-bottom-15		{ padding-bottom : .75rem; }
	.pad-bottom-20		{ padding-bottom : 1rem; }
	.pad-bottom-25		{ padding-bottom : 1.25rem; }
	.pad-bottom-30		{ padding-bottom : 1.5rem; }
	.pad-bottom-40		{ padding-bottom : 2rem; }
	.pad-bottom-50		{ padding-bottom : 2.5rem; }
	.pad-bottom-60		{ padding-bottom : 3rem; }
	.pad-bottom-70		{ padding-bottom : 3.5rem; }
	.pad-bottom-80		{ padding-bottom : 4rem; }
	.pad-bottom-90		{ padding-bottom : 4.5rem; }
	.pad-bottom-100		{ padding-bottom : 5rem; }
								
	.pad-left-0			{ padding-left : 0px; }	
	.pad-left-5			{ padding-left : .25rem; }
	.pad-left-10		{ padding-left : .5rem; }
	.pad-left-15		{ padding-left : .75rem; }
	.pad-left-20		{ padding-left : 1rem; }
	.pad-left-25		{ padding-left : 1.25rem; }
	.pad-left-30		{ padding-left : 1.5rem; }
	.pad-left-40		{ padding-left : 2rem; }
	.pad-left-50		{ padding-left : 2.5rem; }
	.pad-left-60		{ padding-left : 60px; }
	.pad-left-70		{ padding-left : 3.5; }
	.pad-left-80		{ padding-left : 4rem; }
	.pad-left-90		{ padding-left : 4.5rem; }
	.pad-left-100		{ padding-left : 5rem; }
	
	.pad-right-0		{ padding-right : 0px; }
	.pad-right-5		{ padding-right : .25rem; }
	.pad-right-10		{ padding-right : .5rem; }
	.pad-right-15		{ padding-right : .75rem; }
	.pad-right-20		{ padding-right : 1rem; }
	.pad-right-20		{ padding-right : 1.25rem; }
	.pad-right-30		{ padding-right : 1.5rem; }
	.pad-right-40		{ padding-right : 2rem; }
	.pad-right-50		{ padding-right : 2.5rem; }
	.pad-right-60		{ padding-right : 60px; }
	.pad-right-70		{ padding-right : 3.5; }
	.pad-right-80		{ padding-right : 4rem; }
	.pad-right-90		{ padding-right : 4.5rem; }
	.pad-right-100		{ padding-right : 5rem; }	
	
	.pad-v-0			{ padding-top : 0px; padding-bottom : 0px; }
	.pad-v-5			{ padding-top : .25rem; padding-bottom : .25rem; }
	.pad-v-10			{ padding-top : .5rem; padding-bottom : .5rem; }
	.pad-v-15			{ padding-top : .75rem; padding-bottom : .75rem; }
	.pad-v-20			{ padding-top : 1rem; padding-bottom : 1rem; }
	.pad-v-25			{ padding-top : 1.25rem; padding-bottom : 1.25rem; }
	.pad-v-30			{ padding-top : 1.5rem; padding-bottom : 1.5rem; }
	.pad-v-40			{ padding-top : 2rem; padding-bottom : 2rem; }
	.pad-v-50			{ padding-top : 2.5rem; padding-bottom : 2.5rem; }	
	.pad-v-60			{ padding-top : 60px; padding-bottom : 60px; }	
	.pad-v-70			{ padding-top : 3.5; padding-bottom : 3.5; }	
	.pad-v-80			{ padding-top : 4rem; padding-bottom : 4rem; }	
	.pad-v-90			{ padding-top : 4.5rem; padding-bottom : 4.5rem; }	
	.pad-v-100			{ padding-top : 5rem; padding-bottom : 5rem; }	
	
	.pad-h-0			{ padding-left : 0px; padding-right : 0px; }
	.pad-h-5			{ padding-left : .25rem; padding-right : .25rem; }
	.pad-h-10			{ padding-left : .5rem; padding-right : .5rem; }
	.pad-h-15			{ padding-left : .75rem; padding-right : .75rem; }
	.pad-h-20			{ padding-left : 1rem; padding-right : 1rem; }
	.pad-h-25			{ padding-left : 1.25rem; padding-right : 1.25rem; }
	.pad-h-30			{ padding-left : 1.5rem; padding-right : 1.5rem; }
	.pad-h-40			{ padding-left : 2rem; padding-right : 2rem; }
	.pad-h-50			{ padding-left : 2.5rem; padding-right : 2.5rem; }			
	
/* borders */

	.border-0			{ border : none; }
	.border-1			{ border-width : 1px; }
	.border-2			{ border-width : 2px; }
	.border-3			{ border-width : 3px; }
	.border-4			{ border-width : 4px; }
	.border-5			{ border-width : .25rem; }
	.border-10			{ border-width : .5rem; }
	
/* rounded corners */
	
	.rounded-5 			{ border-radius : .25rem; }
	.rounded-10 		{ border-radius : .5rem; }
	.rounded-15 		{ border-radius : .75rem; }
	.rounded-20 		{ border-radius : 1rem; }
	
/* line height */
	
	.lh-5 		{ line-height : 0.5; }	
	.lh-6 		{ line-height : 0.6; }	
	.lh-7 		{ line-height : 0.7; }	
	.lh-8 		{ line-height : 0.8; }	
	.lh-9 		{ line-height : 0.9; }	
	.lh-10 		{ line-height : 1.0; }	
	.lh-11 		{ line-height : 1.1; }	
	.lh-12 		{ line-height : 1.2; }	
	.lh-13 		{ line-height : 1.3; }	
	.lh-14 		{ line-height : 1.4; }	
	.lh-15 		{ line-height : 1.5; }	
	.lh-16 		{ line-height : 1.6; }	
	.lh-17 		{ line-height : 1.7; }	
	.lh-18 		{ line-height : 1.8; }	
	.lh-19 		{ line-height : 1.9; }	
	.lh-20 		{ line-height : 2.0; }	
	.lh-21 		{ line-height : 2.1; }	
	.lh-22 		{ line-height : 2.2; }	
	.lh-23 		{ line-height : 2.3; }	
	.lh-24 		{ line-height : 2.4; }	
	.lh-25 		{ line-height : 2.5; }
	.lh-auto	{ line-height : auto; }
	
/* letter spacing */
	
	.ls--4 		{ letter-spacing : -0.4px; }
	.ls--3 		{ letter-spacing : -0.3px; }
	.ls--2 		{ letter-spacing : -0.2px; }
	.ls--1 		{ letter-spacing : -0.1px; }
	.ls-0 		{ letter-spacing : 0px; }
	.ls-1 		{ letter-spacing : 0.1px; }
	.ls-2 		{ letter-spacing : 0.2px; }
	.ls-3 		{ letter-spacing : 0.3px; }
	.ls-4 		{ letter-spacing : 0.4px; }
	.ls-5 		{ letter-spacing : 0.5px; }
	.ls-6 		{ letter-spacing : 0.6px; }
	.ls-7 		{ letter-spacing : 0.7px; }
	.ls-8 		{ letter-spacing : 0.8px; }
	.ls-9 		{ letter-spacing : 0.9px; }
	.ls-10 		{ letter-spacing : 1.0px; }
	.ls-11 		{ letter-spacing : 1.1px; }
	.ls-12 		{ letter-spacing : 1.2px; }
	.ls-13 		{ letter-spacing : 1.3px; }
	.ls-14 		{ letter-spacing : 1.4px; }
	.ls-15 		{ letter-spacing : 1.5px; }
	.ls-20 		{ letter-spacing : 2px; }
	.ls-21 		{ letter-spacing : 2.1px; }
	.ls-22 		{ letter-spacing : 2.2px; }
	.ls-23 		{ letter-spacing : 2.3px; }
	.ls-24 		{ letter-spacing : 2.4px; }
	.ls-25 		{ letter-spacing : 2.5px; }
	.ls-30 		{ letter-spacing : 3px; }
	.ls-auto	{ letter-spacing : auto; }	
	
/* misc */		
	
	.overlay			{ width : 100%; height : 100%; background-color : rgba(0,0,0,.65); }
	
	.img-circle 		{ border-radius: 50%; }
	
/* grays - color, bgd, border */

	.color-000 		{ color : #000; }
	.color-111 		{ color : #111; }
	.color-222 		{ color : #222; }
	.color-333 		{ color : #333; }
	.color-444 		{ color : #444; }
	.color-555 		{ color : #555; }
	.color-666 		{ color : #666; }
	.color-777 		{ color : #777; }
	.color-888 		{ color : #888; }
	.color-999 		{ color : #999; }
	.color-aaa 		{ color : #aaa; }
	.color-bbb 		{ color : #bbb; }
	.color-ccc 		{ color : #ccc; }
	.color-ddd 		{ color : #ddd; }
	.color-eee 		{ color : #eee; }
	.color-fff 		{ color : #fff; }
	
	.bgd-000 		{ background-color : #000; }
	.bgd-111 		{ background-color : #111; }
	.bgd-222 		{ background-color : #222; }
	.bgd-333 		{ background-color : #333; }
	.bgd-444 		{ background-color : #444; }
	.bgd-555 		{ background-color : #555; }
	.bgd-666		{ background-color : #666; }
	.bgd-777		{ background-color : #777; }
	.bgd-888 		{ background-color : #888; }
	.bgd-999 		{ background-color : #999; }
	.bgd-aaa 		{ background-color : #aaa; }
	.bgd-bbb 		{ background-color : #bbb; }
	.bgd-ccc 		{ background-color : #ccc; }
	.bgd-ddd 		{ background-color : #ddd; }
	.bgd-eee 		{ background-color : #eee; }
	.bgd-fff 		{ background-color : #fff; }	
	
	.border-000 	{ border-color : #000; }
	.border-111 	{ border-color : #111; }
	.border-222 	{ border-color : #222; }
	.border-333 	{ border-color : #333; }
	.border-444 	{ border-color : #444; }
	.border-555 	{ border-color : #555; }
	.border-666 	{ border-color : #666; }
	.border-777 	{ border-color : #777; }
	.border-888 	{ border-color : #888; }
	.border-999 	{ border-color : #999; }
	.border-aaa 	{ border-color : #aaa; }
	.border-bbb 	{ border-color : #bbb; }
	.border-ccc 	{ border-color : #ccc; }
	.border-ddd 	{ border-color : #ddd; }
	.border-eee 	{ border-color : #eee; }
	.border-fff 	{ border-color : #fff; }
	
/* web colors - color, bgd, border, hover */

	.color-red 		{ color : red; }
	.color-maroon 	{ color : maroon; }
	.color-yellow 	{ color : yellow; }
	.color-olive 	{ color : olive; }
	.color-lime 	{ color : lime; }
	.color-green 	{ color : green; }
	.color-aqua 	{ color : aqua; }
	.color-teal 	{ color : teal; }
	.color-blue 	{ color : blue; }
	.color-navy 	{ color : navy; }
	.color-fuchsia 	{ color : fuchsia; }
	.color-purple 	{ color : purple; }
	
	.bgd-red 		{ background-color : red; }
	.bgd-maroon 	{ background-color : maroon; }
	.bgd-yellow 	{ background-color : yellow; }
	.bgd-olive 		{ background-color : olive; }
	.bgd-lime 		{ background-color : lime; }
	.bgd-green 		{ background-color : green; }
	.bgd-aqua 		{ background-color : aqua; }
	.bgd-teal 		{ background-color : teal; }
	.bgd-blue 		{ background-color : blue; }
	.bgd-navy 		{ background-color : navy; }
	.bgd-fuchsia 	{ background-color : fuchsia; }
	.bgd-purple 	{ background-color : purple; }
	
	.border-red 	{ border-color : red; }
	.border-maroon 	{ border-color : maroon; }
	.border-yellow 	{ border-color : yellow; }
	.border-olive 	{ border-color : olive; }
	.border-lime 	{ border-color : lime; }
	.border-green 	{ border-color : green; }
	.border-aqua 	{ border-color : aqua; }
	.border-teal 	{ border-color : teal; }
	.border-blue 	{ border-color : blue; }
	.border-navy 	{ border-color : navy; }
	.border-fuchsia { border-color : fuchsia; }
	.border-purple 	{ border-color : purple; }
		
	.hover-red:hover 		{ color : red !important; }
	.hover-maroon:hover 	{ color : maroon !important; }
	.hover-yellow:hover 	{ color : yellow !important; }
	.hover-olive:hover 		{ color : olive !important; }
	.hover-lime:hover 		{ color : lime !important; }
	.hover-green:hover 		{ color : green !important; }
	.hover-aqua:hover 		{ color : aqua !important; }
	.hover-teal:hover 		{ color : teal !important; }
	.hover-blue:hover 		{ color : blue !important; }
	.hover-navy:hover 		{ color : navy !important; }
	.hover-fuchsia:hover	{ color : fuchsia !important; }
	.hover-purple:hover 	{ color : purple !important; }	
	
/* bright colors - inspired by http://clrs.cc */

	.color-bright-navy 		{ color: #001F3F; }
	.color-bright-blue 		{ color: #0074D9; }
	.color-bright-aqua 		{ color: #7FDBFF; }
	.color-bright-teal 		{ color: #39CCCC; }
	.color-bright-olive 	{ color: #3D9970; }
	.color-bright-green 	{ color: #2ECC40; }
	.color-bright-lime 		{ color: #01FF70; }
	.color-bright-yellow 	{ color: #FFDC00; }
	.color-bright-orange 	{ color: #FF851B; }
	.color-bright-red 		{ color: #FF4136; }
	.color-bright-fuchsia 	{ color: #F012BE; }
	.color-bright-purple 	{ color: #B10DC9; }
	.color-bright-maroon 	{ color: #85144B; }
	.color-bright-white 	{ color: #fff; }
	.color-bright-silver 	{ color: #ddd; }
	.color-bright-gray 		{ color: #aaa; }
	.color-bright-black 	{ color: #111; }
	
	.bgd-bright-navy		{ background-color: #001F3F; }
	.bgd-bright-blue 		{ background-color: #0074D9; }
	.bgd-bright-aqua 		{ background-color: #7FDBFF; }	
	.bgd-bright-teal		{ background-color: #39CCCC; }	
	.bgd-bright-olive 		{ background-color: #3D9970; }	
	.bgd-bright-green 		{ background-color: #2ECC40; }	
	.bgd-bright-lime 		{ background-color: #01FF70; }	
	.bgd-bright-yellow 		{ background-color: #FFDC00; }	
	.bgd-bright-orange 		{ background-color: #FF851B; }	
	.bgd-bright-red 		{ background-color: #FF4136; }	
	.bgd-bright-fuchsia 	{ background-color: #F012BE; }	
	.bgd-bright-purple 		{ background-color: #B10DC9; }
	.bgd-bright-maroon 		{ background-color: #85144B; }
	.bgd-bright-gray 		{ background-color: #aaa; }	
	.bgd-bright-silver 		{ background-color: #ddd; }	
	.bgd-bright-black 		{ background-color: #111; }

	.border-bright-navy 	{ border-color: #001F3F; }
	.border-bright-blue 	{ border-color: #0074D9; }
	.border-bright-aqua 	{ border-color: #7FDBFF; }
	.border-bright-teal 	{ border-color: #39CCCC; }
	.border-bright-olive 	{ border-color: #3D9970; }
	.border-bright-green 	{ border-color: #2ECC40; }
	.border-bright-lime 	{ border-color: #01FF70; }
	.border-bright-yellow 	{ border-color: #FFDC00; }
	.border-bright-orange 	{ border-color: #FF851B; }
	.border-bright-red 		{ border-color: #FF4136; }
	.border-bright-fuchsia 	{ border-color: #F012BE; }
	.border-bright-purple 	{ border-color: #B10DC9; }
	.border-bright-maroon 	{ border-color: #85144B; }
	.border-bright-gray 	{ border-color: #aaa; }
	.border-bright-silver 	{ border-color: #ddd; }
	.border-bright-black 	{ border-color: #111; }

	.hover-bright-navy:hover 	{ color: #001F3F !important }
	.hover-bright-blue:hover	{ color: #0074D9 !important }
	.hover-bright-aqua:hover 	{ color: #7FDBFF !important }
	.hover-bright-teal:hover 	{ color: #39CCCC !important }
	.hover-bright-olive:hover	{ color: #3D9970 !important }
	.hover-bright-green:hover 	{ color: #2ECC40 !important }
	.hover-bright-lime:hover 	{ color: #01FF70 !important }
	.hover-bright-yellow:hover 	{ color: #FFDC00 !important }
	.hover-bright-orange:hover 	{ color: #FF851B !important }
	.hover-bright-red:hover 	{ color: #FF4136 !important }
	.hover-bright-fuchsia:hover { color: #F012BE !important }
	.hover-bright-purple:hover 	{ color: #B10DC9 !important }
	.hover-bright-maroon:hover 	{ color: #85144B !important }
	.hover-bright-white:hover 	{ color: #fff !important }
	.hover-bright-gray:hover 	{ color: #aaa !important }
	.hover-bright-silver:hover 	{ color: #ddd !important }
	.hover-bright-black:hover 	{ color: #111 !important }		
				
/* x11 colors - color, bgd, border, hover */

	.color-orange			{ color : orange; }
	.color-orange-red		{ color : orange-red; }
	.color-dark-orange		{ color : dark-orange; }
	.color-brown 			{ color : brown; }
	.color-cyan 			{ color : cyan; }		
	.color-cornflower 		{ color : cornflower; }		
	.color-midnight-blue 	{ color : midnite-blue; }		
	.color-slate-gray 		{ color : slate-gray; }		
	.color-white-smoke 		{ color : white-smoke; }		
	.color-tomato 			{ color : tomato; }		
	.color-gold 			{ color : gold; }		
	.color-goldenrod 		{ color : goldenrod; }		
	.color-sienna 			{ color : sienna; }		
	.color-peru 			{ color : peru; }		
	.color-tan 				{ color : tan; }		
	
	.bgd-orange 			{ background-color : orange; }
	.bgd-orange-red 		{ background-color : orange-red; }
	.bgd-dark-orange 		{ background-color : dark-orange; }
	.bgd-brown 				{ background-color : brown; }
	.bgd-cyan 				{ background-color : cyan; }
	.bgd-cornflower 		{ background-color : cornflower; }
	.bgd-midnight-blue 		{ background-color : midnight-blue; }
	.bgd-slate-gray 		{ background-color : slate-gray; }
	.bgd-white-smoke 		{ background-color : white-smoke; }
	.bgd-tomato 			{ background-color : tomato; }
	.bgd-gold 				{ background-color : gold; }
	.bgd-goldenrod 			{ background-color : goldenrod; }
	.bgd-sienna 			{ background-color : sienna; }
	.bgd-peru 				{ background-color : peru; }
	.bgd-tan 				{ background-color : tan; }

	.border-orange 			{ border-color : orange; }
	.border-orange-red 		{ border-color : orange-red; }
	.border-dark-orange 	{ border-color : dark-orange; }
	.border-brown 			{ border-color : brown; }
	.border-cyan 			{ border-color : cyan; }
	.border-cornflower 		{ border-color : cornflower; }
	.border-midnight-blue 	{ border-color : midnight-blue; }
	.border-slate-gray 		{ border-color : slate-gray; }
	.border-white-smoke 	{ border-color : white-smoke; }
	.border-tomato 			{ border-color : tomato; }
	.border-gold 			{ border-color : gold; }
	.border-goldenrod 		{ border-color : goldenrod; }
	.border-sienna 			{ border-color : sienna; }
	.border-peru 			{ border-color : peru; }
	.border-tan 			{ border-color : tan; }		
	
	.hover-orange:hover			{ color : orange !important; }
	.hover-orange-red:hover		{ color : orange-red !important; }
	.hover-dark-orange:hover	{ color : dark-orange !important; }
	.hover-brown:hover 			{ color : brown !important; }
	.hover-cyan:hover 			{ color : cyan !important; }		
	.hover-cornflower:hover 	{ color : cornflower !important; }		
	.hover-midnight-blue:hover 	{ color : cyan !important; }		
	.hover-slate-gray:hover 	{ color : slate-gray !important; }		
	.hover-white-smoke:hover 	{ color : white-smoke !important; }		
	.hover-tomato:hover 		{ color : tomato !important; }		
	.hover-gold:hover 			{ color : gold !important; }		
	.hover-goldenrod:hover 		{ color : goldenrod !important; }		
	.hover-sienna:hover 		{ color : sienna !important; }		
	.hover-peru:hover 			{ color : peru !important; }		
	.hover-tan:hover 			{ color : tan !important; }		